<header class="site-header">
  <!-- <a class="site-title" href="{{ site.baseurl }}/"><img src=/portfolio/assets/scott.png></a> -->
  
  <h6>Scott's Portfolio</h6>

  <nav class="navbar">
    <ul>
      <li class="nav-item"><a href="{{ site.baseurl }}/">home</a></li>
      <li class="nav-item"><a href="{{ site.baseurl }}/about/">about</a></li>
      <li class="nav-item"><a href="https://drive.google.com/file/d/1ozjqOKRARu1-IudHQpIG-JWvjJAFntER/view?usp=sharing">process</a></li>
      <li class="nav-item"><a href="https://drive.google.com/file/d/1lC3dKoe6qXx-wFMHpa_aklEP99ev-gPu/view?usp=sharing">resume</a></li>

    </ul>
  </nav>

</header>
